body {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
