:root {
  --text-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --titles-color: #212121;
  --text-color: #757575;
  --main-lite: #ffffff;
  --footer-address-tel-mail-color: rgba(255, 255, 255, 0.6);
  --index-hero-btn-background-color: #2196f3;
  --background-index-hero-color: #2f303a;
  --background-footer-color: #2f303a;
  --background-team-color: #f5f4fa;
  --icons-color: #afb1b8;
}
